# Configuration générale
bind = ":3000"
prod = true # limite les logs
corsAllowOrigins = ["http://192.168.1.20:8081", "http://127.0.0.1:8081"]

# Base de données
postgres = "user=postgres dbname=datapi"

# Paramètres de l'API
searchPageLength = 20

# Authentification
enableKeycloak = true
keycloakHostname = "localhost"
keycloakClient = "signauxfaibles"
keycloakRealm = "master"
keycloakAdminUsername = "adminUsername"
keycloakAdminPassword = "adminPassword"
# Options pour développer sans keycloak
# enableKeycloak = false
# keycloakClient = "signauxfaibles"
# fakeUsernameKeycloak = "john.doe@zone51.gov"
# fakeKeycloakRole = [
#   "Bourgogne-Franche-Comté",
#   "urssaf",
#   "dgefp",
#   "bdf",
# ]

# Sécurité de /utils
# Ne nécessite pas d'authentification, mais accès sur whitelist uniquement
adminWhiteList = ["127.0.0.1"]

# Import des données
sourceEntreprise = "/foo/bar/dbmongo-data-export-entreprises.json.gz"
sourceEtablissement = "/foo/bar/dbmongo-data-export-etablissements.json.gz"
algoIgnore = ["algo_sans_urssaf"]
batchIgnore = ["1910_8", "1906_7", "1901_interim"]
refreshScript = "/foo/bar/so_fresh_so_clean.sql"


# Fiche Commune Entreprise
apiFceURL = "apiFceURL"
apiFceKey = "apiFceKey"
fceVisitURL = "fceVisitURL"

# Wekan
wekanURL = "wekanURL"
wekanAdminUsername = "wekanAdminUsername"
wekanAdminPassword = "wekanAdminPassword"
wekanTokenDays = 60
wekanConfigFile = "wekan_config.json"
wekanImportFile = "wekan_import.csv"
webBaseURL = "webBaseURL"
wekanMgoURL = "mongodb://mongo:password@localhost/test"

docxifyPath = "./docxify3.py"
docxifyWorkingDir = "/foo/bar"
docxifyPython = "/usr/bin/python3"

wekanRegions = {
  "tableau-crp-la-reunion" = "La Réunion crp",
  "tableau-crp-ara" = "Auvergne-Rhône-Alpes crp",
  "tableau-crp-bfc"= "Bourgogne-Franche-Comté crp",
  "tableau-crp-pdl" = "Pays de la Loire crp",
  "tableau-crp-paca" = "Provence-Alpes-Côte d'Azur crp",
  "tableau-crp-corse" = "Corse crp",
  "tableau-crp-oc" = "Occitanie crp",
  "tableau-crp-martinique" = "Martinique crp",
  "tableau-crp-mayotte" = "Mayotte crp",
  "tableau-crp-ge" = "Grand Est crp",
  "tableau-crp-bret" = "Bretagne crp",
  "tableau-crp-guadeloupe" = "Guadeloupe crp",
  "tableau-crp-cvl" = "Centre-Val de Loire crp",
  "tableau-crp-norm" = "Normandie crp",
  "tableau-crp-hdf" = "Hauts-de-France crp",
  "tableau-crp-na" = "Nouvelle-Aquitaine crp",
  "tableau-crp-idf" = "Île-de-France crp",
  "tableau-crp-guyane" = "Guyane crp",
  "tableau-darp-la-reunion" = "La Réunion darp",
  "tableau-darp-ara" = "Auvergne-Rhône-Alpes darp",
  "tableau-darp-bfc"= "Bourgogne-Franche-Comté darp",
  "tableau-darp-pdl" = "Pays de la Loire darp",
  "tableau-darp-paca" = "Provence-Alpes-Côte d'Azur darp",
  "tableau-darp-corse" = "Corse darp",
  "tableau-darp-oc" = "Occitanie darp",
  "tableau-darp-martinique" = "Martinique darp",
  "tableau-darp-mayotte" = "Mayotte darp",
  "tableau-darp-ge" = "Grand Est darp",
  "tableau-darp-bret" = "Bretagne darp",
  "tableau-darp-guadeloupe" = "Guadeloupe darp",
  "tableau-darp-cvl" = "Centre-Val de Loire darp",
  "tableau-darp-norm" = "Normandie darp",
  "tableau-darp-hdf" = "Hauts-de-France darp",
  "tableau-darp-na" = "Nouvelle-Aquitaine darp",
  "tableau-darp-idf" = "Île-de-France darp",
  "tableau-darp-guyane" = "Guyane darp"
}