# Configuration générale
bind = ":3000"
prod = true # limite les logs
corsAllowOrigins = ["http://192.168.1.20:8081", "http://127.0.0.1:8081"]

# Base de données
postgres = "user=postgres dbname=datapi"

# Paramètres de l'API
searchPageLength = 20

# Authentification
enableKeycloak = true
keycloakHostname = "localhost"
keycloakClient = "signauxfaibles"
keycloakRealm = "master"
keycloakAdminUsername = "adminUsername"
keycloakAdminPassword = "adminPassword"
# Options pour développer sans keycloak
# enableKeycloak = false
# keycloakClient = "signauxfaibles"
# fakeUsernameKeycloak = "john.doe@zone51.gov"
# fakeKeycloakRole = [
#   "Bourgogne-Franche-Comté",
#   "urssaf",
#   "dgefp",
#   "bdf",
# ]

# Sécurité de /utils
# Ne nécessite pas d'authentification, mais accès sur whitelist uniquement
adminWhiteList = ["127.0.0.1"]

# Import des données
sourceEntreprise = "/foo/bar/dbmongo-data-export-entreprises.json.gz"
sourceEtablissement = "/foo/bar/dbmongo-data-export-etablissements.json.gz"
algoIgnore = ["algo_sans_urssaf"]
batchIgnore = ["1910_8", "1906_7", "1901_interim"]

# Wekan
wekanURL = "wekanURL"
wekanAdminUsername = "wekanAdminUsername"
wekanAdminPassword = "wekanAdminPassword"
wekanTokenDays = 60
wekanConfigFile = "wekan_config.json"
wekanImportFile = "wekan_import.csv"
webBaseURL = "webBaseURL"
wekanMgoURL = "mongodb://mongo:password@localhost/test"

docxifyPath = "./docxify3.py"
docxifyWorkingDir = "/foo/bar"
docxifyPython = "/usr/bin/python3"

[stats]
  db_url = postgres://<username>:<password>@<hostname>:<port>/<database_name>
